BETTER_AUTH_SECRET=token
BETTER_AUTH_URL=https://codeforge.tkweb.site
DATABASE_URL=postgresql://user:password@host:5432/dbname

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

K8S_API_SERVER=https://k8s.tkweb.site
K8S_AUTH_TOKEN=
K8S_SKIP_TLS_VERIFY=false
K8S_NAMESPACE=codelearn

CODE_SERVER_DOMAIN=cs.tkweb.site
CODE_SERVER_TLS_SECRET=wildcard-cs-tls
CODE_SERVER_IMAGE=ghcr.io/coder/code-server:4.105.2
CODE_SERVER_STORAGE_CLASS=local-path
CODE_SERVER_PVC_SIZE=1Gi
CODE_SERVER_MAX_IDLE_MINUTES=120
CODE_SERVER_POD_READY_TIMEOUT_MS=15000
CODE_SERVER_CLEANUP_SECRET=