CS_PROXY_URL=https://cs-proxy.tkweb.site
CS_PROXY_SECRET=your-random-secret-at-least-32-chars
BETTER_AUTH_SECRET="token"
BETTER_AUTH_URL=https://codeforge.tkweb.site
DATABASE_URL=postgresql://
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=